.task {
    padding: 1em;
    margin: 0.75em;
    border: 1px solid black;
    h3 {
        font-size: 1.5em;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }
}
