* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    background-color: transparent;
    padding: 0.75em 1em;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1.25em;
}

textarea {
    resize: none;
}

label {
    font-size: 1.25em;
}
